.summary-card {
    background: #FAFBFC;
    border: solid 1px #CED8DE;
    border-radius: 10px;
    padding: 20px;
    padding-left: 130px;
    padding-right: 60px;
    position: relative;

}

.summary-card .recommendations-icon {
    width: 60px;
    left: 35px;
}

.summary-card .goals-icon {
    width: 60px;
    left: 35px;
}

.summary-card.goals{
    color: red;
}

.edit-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #fff url("../img/edit-icon.svg") no-repeat center center;
    border: solid 1px #C0C8CE;
    background-size: 23px;
    width: 37px;
    height: 37px;
    border-radius: 5px;
}

.summary-card img {
    width: 80px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.summary-goals {
    padding: 36px 20px 20px 20px;
    padding-left: 20px;
    
}

.summary-goals .content-panel{
    padding-left: 110px;
    margin-bottom: 30pxs;
}

.summary-goals .table {
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 25px;
}

.summary-goals .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
}

td:not(:first-child), th:not(:first-child) {
    border-left: 1px solid #ddd;
  }


 .icp-form  .simple-date{
    font-size: 20px;
  }

  .go-back-link {
    font-size: 18px;;
    margin-bottom: 20px; display: inline-block;
    background: url("../img/back-arrow.svg") no-repeat left center;
    padding-left: 20px;
    color: #009C5C;
    
  }
  .go-back-link:hover {
    text-decoration: none;
    color: #009C5C;
  }

  .mt-30 {
    margin-top: 30px !important;
  }

  ol {
     padding: 0 0 0 21px;
     list-style-type: upper-alpha;
  }


  /* --------------------------- Evaluation & Tracking -------------------------- */

ul.evaluation-tracking {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.evaluation-tracking li {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
    align-items: stretch; 
    background: #FAFBFC;
    min-height: 60px;
}

.evaluation-tracking .evaluation-date {
    width: 120px; 
    background-color: #EDEFF2;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: bold;
}

.evaluation-tracking .evaluation-description {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}


.modal-body {
    position: relative;
    padding: 15px 30px;
}
.modal-title {
    padding-left: 15px;
}

.modal-footer {
    padding: 15px 30px;
}

.modal-header .close {
    margin-top: 2px;
    margin-right: 12px;
}

.btn-primary {
    background-color: #5CB85C;
    border-color: #5CB85C;
    padding: 8px 25px; 
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #fff !important;
    background-color: #4cae4c !important; /* Un tono más oscuro para efecto hover */
    border-color: #4cae4c !important;
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    outline: none !important;
}

.btn-secondary {
    color: #fff;
    background-color: #F0AD4E;
    border-color: #F0AD4E;
    padding: 8px 25px; 
}


.btn-secondary:hover {
    color: #fff;
    background-color: #F0AD4E;
    border-color: #F0AD4E;
}